
[submodule "direwolf"]
	path = direwolf
	url = https://github.com/MineFartsEmbed/DireWolf
    branch = amd64-debian
    ignore = all

[submodule "tncattach"]
	path = tncattach
	url = https://github.com/MineFartsEmbed/TNC-Attach
    branch = amd64-debian
    ignore = all

[submodule "tty0tty"]
	path = tty0tty
	url = https://github.com/MineFartsEmbed/tty0tty
    ignore = all

